<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Service</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <div class="header__wrapper">
          <div class="header__title">Services</div>
          <ion-button
            class="header__button"
            (click)="addService()"
            style="--background: #37ea81; --color: black"
            >Add Service</ion-button
          >
        </div>
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <table class="custom-table">
        <thead>
          <tr>
            <th></th>
            <th>Servicio</th>
            <th>Precio</th>
            <th>Disponibilidad</th>
          </tr>
        </thead>
        <tbody>
          @for (service of services; track $index) {
          <tr (click)="getDetails(service.id)">
            <td>
              <ion-thumbnail slot="start">
                <ion-img [src]="service.imgUrl"></ion-img>
              </ion-thumbnail>
            </td>
            <td>{{service.name}}</td>
            <td>${{service.price}}</td>
            <td>{{service.disponibility ? 'Yes' : 'No'}}</td>
          </tr>
          }
        </tbody>
      </table>
    </ion-card-content>
  </ion-card>
</ion-content>
