<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Login</ion-title>
    </ion-toolbar>
  </ion-header>
   <div class="ctLogin">
     <form>
       <table class="tbLogin">
         <tr>
           <td><img class="imgLogo"></td>
         </tr>
         <tr>
           <td><label>Usuario</label></td>
         </tr>
         <tr>
           <td><input type="text"></td>
         </tr>
         <tr>
           <td><label>Contraseña</label></td>
         </tr>
         <tr>
           <td><input type="text"></td>
         </tr>
         <tr>
           <td><input type="submit"></td>
         </tr>
       </table>
     </form>
   </div>
</ion-content>
