.ctLogin{
  background: #D9DBDC;
  padding-top:30px;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}


.imgLogo {
  width: 340px;
  height: 340px;
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
  background-image: url("/assets/icon/icon.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 12px;
}
.inText{
  height: 40px;
  width: 340px;
  border-radius:10px;
  border: none;
  margin-bottom: 12px;
  margin-top: 12px;
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
}
.lblText{
  height: 40px;
  margin-bottom: 12px;
  margin-top: 12px;
}
.ctSubmit{
  width: 100%;
  height:50px;
  justify-content: center;
  display: flex;
}

.btnLogin{
  height:40px;
  width: 200px;
  background-color: #E9EDE4;
  color: black;
  border-radius: 15px;
  border: none;
  cursor: pointer;
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
}
.btnLogin:hover{
  background-color: #37EA81;
}
