.configCt{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imgLogo {
  width: 250px;
  height: 250px;
  min-height: 200px;
  min-width: 200px;
  border-radius: 20px;
  display: grid;
  grid-template-columns: auto auto;
  gap: 10px;
  background-repeat: no-repeat;
  background-size: contain;
  margin-bottom: 12px;
}

.lblEstatus{
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-top: 15.4px;
  padding-bottom: 15.4px;
  padding-left: 10px;
  background-color: #8FED77;
}

.lblDetalle{
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  padding-top: 15.4px;
  padding-bottom: 15.4px;
  width: 100%;
  background-color: #D9DBDC;
}
.lblNombre{
  padding-left: 5px;
}

.btnAfiliar {
  margin: 12px auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 35px;
  width: 111px;
  min-height: 40px;
  --background: #D9DBDC;
  --color: black;
  --border-radius: 15px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.btnAfiliar:hover {
  --background: #37EA81;
}
